/* register page */

.regContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regContainer .regColumn{
    background-color: #AAB8C2;
    flex-grow: 0;
    width: 785px;
    padding: 25px 35px;
    max-height: 100%;
}

.regContainer .regColumn .regHeader h3{
    text-align: center;
}
